

.p{
  font-size: 18px;
  padding: 10px;
}

/* Default style for navigation item links */
.nav-item a {
  text-decoration: none;
  color: #333; /* Default text color for navigation items */
  transition: color 0.3s ease; /* Smooth transition for color change */
}

.homeText {
  /* Your existing styling for the "Home" text */
  color: black;
  font-family: Georgia;
  font-weight: bold;
}
.nav-item a {
  color: #000; /* Change the default text color */
  text-decoration: none;
  transition: color 0.3s ease; /* Add a smooth color transition on hover */
}

.nav-item a:hover {
  color: #00f; /* Change the text color on hover */
}
.skillText {
  /* Styling for the "Skill" text */
  color: black;
  font-family: Georgia;
  font-weight: bold;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}

.animatebounce {
  position: absolute;
  bottom: 0;
  left: 0;
  animation: bounce 2s infinite;
}

.achivementText {
  /* Styling for the "Achivement" text */
  color: black;
  font-family: Georgia;
  font-weight: bold;
}

.contactText {
  /* Styling for the "Contact" text */
  color:black;
  font-family: Georgia;
  font-weight: bold;
}

.homeText:hover{
  font-size: 1.08rem;
  color:#776B5D;
}
.skillText:hover{
  font-size: 1.08rem;
  color:#776B5D;
}
.achivementText:hover{
  font-size: 1.08rem;
  color:#776B5D;
}

.contactText:hover{
  font-size: 1.08rem;
  color:#776B5D;
}

.gradient {
  width: 100%;
  height: 60vh;
  top: 100%;
  background: linear-gradient(45deg, #eff7f6, #f2b5d4);
  background-size: 300% 300%; /* Increase size for animation */
  animation: gradientAnimation 10s ease infinite; /* Apply animation */
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%; /* Initial position */
  }
  50% {
    background-position: 100% 59%; /* Move to the right */
  }
  100% {
    background-position: 0% 50%; /* Reset to initial position */
  }
}

@font-face {
  font-family: 'Maintain';
  src: url('../font/Maintain.otf') format('opentype');
}

@font-face {
  font-family: 'Yummy Dinner';
  src: url('../font/Yummy Dinner.otf') format('opentype');
}

/* The actual timeline (the vertical ruler) */

.content {
  padding: 2rem;
  background-color: #F6F3E4;
  position: relative;
  border-radius: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  align-items: center;
}



.contenta {
  padding: 20px 100px;
  background-color: #F6F3E4;
  position: relative;
  border-radius: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  align-items: center;
}

@media (max-width: 600px) {
  .content,
  .contenta {
    width: 100%;
    padding: 1rem;
  }

  .text {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}



.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 0px;
}

.box {
 
  height: auto;
  left: 0;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}

.alignright{
  transform: scale(1.1);
}

.boxa {
  box-sizing: border-box;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width:100%;
}


.h1{
  font-family: Georgia;
  font-size: 2.5rem ;
  font-weight: bold;
}

.text{
  flex: 1;
  text-align: center;
  text-align: justify;
  padding-left:2rem;
  padding-right:2rem;
  padding-top: 3%;
  font-family: Georgia;
  font-size: 1rem ;
  color: black;
}



.texta{
  flex: 1;
  text-align: center;
  text-align: justify;
  padding-left:2rem;
  padding-right:2rem;
  padding-top: 3%;
  font-family: Georgia;
  font-size: 1.5rem ;
  color: black;
  align-items: center;
}


.shapedividerscom1439{
  overflow:hidden;
  position:relative;
  }
  .shapedividerscom1439::before{ 
  content:'';
  font-family:'shape divider from ShapeDividers.com';
  position: absolute;
  z-index: 3;
  pointer-events: none;
  background-repeat: no-repeat;
  bottom: -0.1vw;
  left: -0.1vw;
  right: -0.1vw;
  top: -0.1vw; 
  background-size: 100% 90px;
  background-position: 50% 100%;  background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.28 2.17" preserveAspectRatio="none"><path d="M35.28 1.16c-3.17-.8-7.3.4-10.04.56-2.76.17-9.25-1.47-12.68-1.3-3.42.16-4.64.84-7.04.86C3.12 1.31 0 .4 0 .4v1.77h35.28z" fill="%23fbd8c2"/></svg>'); 
  }
  
  @media (min-width:2100px){
  .shapedividers_com-1439::before{
  background-size: 100% calc(2vw + 90px);
  }
  }


.li {
  display: flex;
  align-items: center;
}
.topic,
.topica {
  font-style: italic;
  font-family: Georgia;
}

.topic {
  font-size: 1rem;
  padding-left: 0.5rem; /* Adjust the padding as needed */
  display: block; /* Make it a block-level element */
}

.topica {
  font-size: 1.2rem;
  padding-left: 2rem;
  display: block; /* Make it a block-level element */
}


.year{
  font-family: Georgia;
  font-size: 1.6rem ;
  font-weight:bold;
}

.imageandtext {
  display: flex; /* Use flexbox */
  align-items: center; /* Align items vertically */
}

.ul {
  list-style: none; /* Remove default list styles */
  padding: 0;
  align-items: center; /* Align items vertically */
}

.li {
  display: flex;
  align-items: center; /* Align items vertically */
   /* Center items horizontally */
  margin: 0; /* Remove default margin */
  padding-left: 20px;
   /* Adjust the padding to add space between image and text */
}



/* In your styles.module.css or external CSS file */
.navbar {
  position:fixed;
  width:100%;
  overflow:auto;
  display: flex;
  background-color: #F6F3E4; /* Change this color as desired */
  color:black;
  left: 0;
  justify-content: center;
  overflow: hidden;
  z-index: 1000;
}



.nav-item {
  margin-right: 20px;
  margin-left:20px;
  list-style: none;
  display: block;
  justify-content: center;
}

.nav-item li {
  padding: 10px;
  cursor: pointer;
  /* Default color for navigation items */
  color: #333;
  transition: color 0.3s ease; /* Smooth transition for color change */
}

/* Apply styles when hovering over the li elements */
.nav-item li:hover {
  color: #3498db; /* Color when hovered */
}

@media only screen and (max-width: 600px) {
  .navbar {
    padding: 5px; /* Adjust padding for smaller screens */
  }

  .nav-item {
    margin-right: 10px;
    margin-left: 10px;
  }

  .nav-item li {
    padding: 5px; /* Adjust padding for smaller screens */
  }

  .link {
    color: black; /* Text color for links on smaller screens */
  }

  .link:hover {
    color: #3498db; /* Text color on hover for links on smaller screens */
  }

  .dropdown-content {
    background-color: #f6f6f6; /* Dropdown background color on smaller screens */
  }

  .dropdown-content a {
    color: black; /* Dropdown item text color on smaller screens */
  }

  .dropdown-content a:hover {
    background-color: #e5e5e5; /* Dropdown item background color on hover for smaller screens */
  }
}

/* Link styles */
.link {
  text-decoration: none;
  color: white; /* Text color */
}

.link:hover {
  color: yellow; /* Text color on hover */
}

/* Dropdown styles */
.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9; /* Dropdown background color */
  min-width: 120px;
  z-index: 1;
}

.dropdown-content a {
  color: black; /* Dropdown item text color */
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1; /* Dropdown item background color on hover */
}

.link {
  text-decoration: none;
  color: white; /* Text color */
}

.link:hover {
  color: yellow; /* Text color on hover */
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9; /* Dropdown background color */
  min-width: 120px;
  z-index: 1;
}

.dropdown-content a {
  color: black; /* Dropdown item text color */
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1; /* Dropdown item background color on hover */
}


.img {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-top: 4rem; /* Adjust as needed for larger screens */
}
@media (min-height: 600px) {
  .img {
    padding-top: 5rem;
  }
}
.img img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  transition: transform 0.3s ease;
  transform: scale(1.1);
}

/* In your styles.module.css or external CSS file */
.logo {
  max-width: 100%; /* Ensure the logo doesn't exceed its natural size */
  height: auto; /* Maintain aspect ratio */
  margin: 10px; /* Adjust margin as needed */
}

.iconContainer {
  display: inline-block;
  margin-right: 10px;
  background-color: #F6F3E4; /* Set your desired background color */
  padding: 10px; /* Adjust padding as needed */
  border-radius: 50%; /* Optional: Add border-radius for a circular background */
}

.imga{
  max-width: 100%; /* Adjust the image size */
  height: auto; /* Maintain aspect ratio */
  margin-right: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.one-line-spacing {
  line-height: 1.5; 
  margin-left: 10px;
}


.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
   
  flex-grow: 1;
}

.title a {
  color: #000000;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin-bottom: 20px;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #000000;
  border-color: #000000;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.logo:hover {
  height:1.3rem;
}
/* FloatContainer.css */

/* FloatContainer.css */

.floatcontainer {
  overflow: hidden;
  display: flex; /* Change display to flex */
  border-radius: 40px;

}

.floatchild {
  /* Remove float and set width to auto */
  flex: 1;
  box-sizing: border-box;
  margin: 10px 10px;
  text-align: center;
  border-radius: 40px;
  padding-left: 10px;
  padding-right: 10px;
}




.green {
  background-color: #F6F3E4;
  border-radius: 40px;

  padding-left: 3rem;
  /* Add other styles as needed */
}

.blue {
  background-color: blue;
  /* Add other styles as needed */
}


/* Adjust the width for larger screens */
@media (max-width: 600px) {
  .floatchild {
    width: 100%;
    padding:1rem;
  }


}

/* Adjust the width for even larger screens */
@media (min-width: 1200px) {
  .floatchild {
    width: 30%;
  }
}

.icona {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
}

.icon:hover{
  transform: scale(1.4);
}





.iconContainera {
  display: inline-block;
  background-color: #beb3e5; /* Set your desired background color */
  border-radius: 50%; /* Optional: Add border-radius for a circular background */
  padding: 10px;
  margin-top: 1rem;
  align-items: center;
}

/* YourComponentStyles.css */

/* YourComponentStyles.css */

.customtable {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 10px;
  align-items: center;
}

.customtableth {
  padding: 8px;
  text-align: left;
  font-family: 'Georgia', cursive;
  font-size: 40px;
}

.customtabletd {
  padding: 8px;
  text-align: center;
}

.imgb {
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: transform 0.3s ease-in-out;
}

.imgb:hover{
  transform: scale(1.2);
}





@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}